div.document {
  max-width: 1024px;
}

div h1.title {
  border-top: 0;
}

.date {
  margin-bottom: 2em;
}

ul li {
  margin-bottom: 1em;
}

.hidden_equation_shim {
  display: none;
}

img#logo {
  position: absolute;
  top: 3.5em;
}

table.tabular {
  width: 75%;
}

td.v_fill {
  height: 100%;
}

.v_centered {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.curly_brace {
  display: block;
  float: left;
  width: 10px;
  margin-right: 0.5em;
  padding-left: 1.25em;
}
.curly_brace img {
  height: 100%;
  width: 10px;
}

.wider table.tabular {
  width: 65%;
}


h2 {
  margin-top: 1ex;
}

table.share {
  margin-bottom: 0;
}


#MathJax_Message {
  display: simple
}

#no_math_warning {
  color: white;
  background: red;
  font-weight: bold;
  padding: 0.25em;
  margin: 2em;
  margin-left: 4em;
}

 .figure .caption img {
  border: none;
}

.figure .caption {
  text-align: center;
  font-family: Arial;
  line-height: 1.45;
  font-size: 95%;
}

div.block {
  text-align: center;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid #222;
}

div.block a {
display: block;
}

div.block a.front_caption {
  font-size: 220%;
  text-decoration: none;
  font-style: italic;
  /*text-transform: uppercase;*/
}

div.block a:hover {
  color: darkred;
}

.chapter-title {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.tag {
  margin-right: 0.5em;
}

.chapter-title .tag {
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
}

.section-title {
  margin-top: 2em;
  font-size: 100%;
  font-weight: bold;
}

.section-title .tag {
  font-weight: bold;
  margin-right: 0.75em;
}


thead th {background:#fff;}

a sup.mark {
  font-size: 100%;
  font-weight: bold;
}

ol#footnotes {
  margin-top: 1.5em;
  border-top: 1px solid #333;
  padding-top: .5em;
}

ol#footnotes li.footnote a {
  font-weight: bold;
}

#Ch46-T1.table {
  white-space: nowrap;
}

.reflectbox {
  height: 0.8em;
}

ol#Ch47-I1 {
  list-style: upper-roman outside;
}

ol#Ch31-I1 {
  list-style: lower-alpha outside;
   margin: 1em 0 0 0;
}

ol#Ch7-I1 {
  list-style: upper-roman outside;
   margin: 1em 0 0 0;
}

ol#Ch19-I1 {
  list-style: decimal outside;
   margin: 1em 0 1em 0;
}

ol#Ch37-I1 {
  list-style: decimal outside;
}

ol#Ch42-I1 {
  list-style: decimal outside;
}

ol#Ch18-I1 {
  list-style: decimal outside;
}


div.figure img.first {
     padding: 1ex;
}
div.figure img.middle {
     padding: 1ex;
}
div.figure img.last {
     padding: 1ex;
}


blockquote.quote {
    blockquote {color:#0;font-style:normal;}
}

a {
  color: #9c0000;
  text-decoration: underline;
}

div.table {
  font-weight: bold;
}

div.table div.caption {
  margin-bottom: 1em;
  font-size: 90%;
}

div.table span.tag {
  display: block;
}

#Ch44-T1.table span.tag {
  display: inline;
}

div.table {
  margin-bottom: 3em;
}

#Ch8-T1, #Ch8-T2, #Ch8-T4 {
  width: 15em;
  margin: 0 auto;
}

#Ch9-T1, #Ch40-T1 {
  max-width: 25em;
  margin: 0 auto;
}

#Ch22-T3, #Ch22-T4, #Ch52-T1 {
  max-width: 30em;
  margin: 0 auto;
}

#Ch26-T1, #Ch26-T2 {
  width: 18em;
  margin: 0 auto;
}

#Ch52-T1 td {
  line-height: 1.25em;
  padding-bottom: 0.5em;
}

#Ch37-S5-p2 em.emph {
  white-space: nowrap;
}

#Ch44-S6-p13 table {
  margin-bottom: 1.4em;
}

div#qm-principles {
    margin:0 2em;
}
div#qm-principles p.p {
    text-indent:0; margin:0.6em 0;
}

div#maxwell-table {
  border:2px solid;
  padding:0 1em;
  display:inline-block;
}
div#maxwell-table h4 {
  text-align:left;
  font-weight:normal;
  font-size:120%;
}
div.center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

div.unit,div.quantity {
width:12em;
float:right;
text-align:left;
line-height:1em;
}
div.quantity {
float:left;
width:9em;
}
div.pair{
clear:both;
max-width:21.5em;
padding:0.9em 0;
}
div#Ch4-T1 div.caption {font-weight:bold;}

div#bragg-header{
  text-indent:0;
  text-align: center; 
  line-height: 1.75em; 
  font-weight:normal;
  font-size:larger
}
div#bragg-abstract {
  margin:1em 2em;
  text-align:justify;
  font-size:smaller;
}
div#bragg-paper p.p {
  line-height:135%;
}
div#bragg-paper div#Ch30-S9-p3 h4 + p {
  text-indent:0;
}
div#bragg-paper h4 {
  text-align:center;
  font-size:normal;
  font-weight:normal;
  font-variant:small-caps;
  margin-bottom:0.3em;
  margin-top:0.7em;
  font-size:95%;
}
table#bragg-ref{
  width:19em;
}
div#bragg-paper div.figure-group div.figure div.caption{
  margin-top:0;
  margin-bottom:0.5em;
  font-size:small;
}
div#bragg-paper div.caption {
   font-family:serif;
}
div#bragg-paper div.caption span.tag{
   font-variant:small-caps;
}
div#bragg-paper span.tag i{
   font-variant:normal;
}
div#bragg-paper div.figure-group div.figure span.tag{
}
div#bragg-paper div.figure-group {
  border:1px dotted;
  margin:1em 0;
}
div#bragg-paper div.figure-group div.figure{
  margin:0;
}
div#bragg-paper div.figure-group div.caption{
  text-align:center;
}
div#bragg-paper div.figure-group div.figure div.caption span.tag{
   font-variant:normal;
  font-style:italic;
}
/* Nested figure classes imply side-by-side images */
div#bragg-paper div.figure div.figure{
  width:40%;
  display:inline-block;
  vertical-align:top;
}
div#bragg-paper div.figure div.figure img{
  max-width:100%;
}

footer {
  font-size: 90%;
  text-align: center;
  margin-top: 1.5em;
}

div.main { padding-right:1em; margin-right:0px; padding-left:1.5em;}
#footnotediv {
        margin:0px 0px 0px 14px;
}
div.para {text-align:left;
}

div.floating-menu {
    width:1em;
    height:100%;
    position:fixed;
    border-style:solid;
    background:#ffa;
    overflow:hidden;
    margin-right:4em;
    opacity:0.9;
    border-style:outset outset none none;
    border-color:#ff4;border-radius:0 1em;
    border-width:3px;
    transition: width 0.6s;
    z-index:99;

    -moz-animation-name: slideMenu;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .5s;
  
    -webkit-animation-name: slideMenu;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .5s;

    animation-name: slideMenu;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: .5s;
 }
div.floating-menu:hover {width:12em;}
div.floating-menu table {
    margin-right:1em;
    width:0%;
  
    -ms-transform: matrix(1.25, 0, 0, 1.25, -30, 30);
    -webkit-transform: matrix(1.25, 0, 0, 1.25, -30, 30);
    transform: matrix(1.25, 0, 0, 1.25, -30, 30);
}

@-moz-keyframes slideMenu {
    0% {width:12em;}
    100% {width:1em;}
}
@-webkit-keyframes slideMenu {
     0% {width:12em;}
    100% {width:1em;}
}
@keyframes slideMenu {
    0% {width:12em;}
    100% {width:1em;}
}

@media screen and (min-width:655px) {
    div.floating-menu {
        position:fixed;
        right:0;
        top: 12px;
        margin:0;
        padding:0;
        left:auto;
        width:auto;
        border-style:none;
        border-radius:0;
        transition:none;
        background:0;

        -moz-animation-name: none;
        -webkit-animation-name: none;
        animation-name: none;
    }
    div.floating-menu table {
        margin:0;
        padding:0;
        width:auto;

        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    div.main {margin-right:100px;}
    #footnotediv {
        margin:0px 100px 0px 0px;
    }
    div.para {
		text-align:justify;
	}

}

div.floating-menu a, div.floating-menu em { display: block !important; margin: 0 0 !important;}
div.floating-menu a:link { text-decoration: none !important; color: #9c0000 !important;}
div.floating-menu a:visited { text-decoration: none !important; color: #9c0000 !important;} 
div.floating-menu a:hover { color: black !important;}

h7 {font-size:1em;font-style:italic;line-height:2em;margin-bottom:2em}

p {margin:0 0 0.3em; line-height:1.45; }
p.p {text-indent:2em;}

td.ref   {vertical-align:top; text-align:right; text-indent:2em; white-space:nowrap; width:1px;}

hr.sep {width:35%; height:1px; color:#000; background-color:#000; margin-top:1.5em;}

img {max-width:100%;}

#footnotediv {
		font-size: 80%;
        z-index:999;
        max-width: 800px;
}

span.not-edited { color:darkred; }
/* span.eq-narrow { color:red; }
span.not-edited {background:pink;display:block}  */


