	div.para, h1, h3, h5, h6, div.table, div.figure, table.ref {
		font-size: 125% !important;
	}
	h2 {
		font-size: 225% !important;
	}
	.document {
		margin-left: 5px !important;
	}
	.floating-menu table tr td {
		font-size: 100% !important;
	}
	span.MathJax {
		font-size: 100% !important;
	}
    .footnote {
		font-size: 100% !important;
	}